<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseInstallScript" value="db/beta-1/v2/mixerp-incremental-blank-db.sql"/>
    <add key="SampleDatabaseInstallScript" value="db/beta-1/v2/mixerp-incremental-sample.sql"/>
    <add key="WritableDirectories" value="/" />
    <add key="ApplicationLogDirectory" value="C:\mixerp-logs" />
    <add key="MinimumLogLevel" value="Information" />
    <add key="MixERPConfigFileLocation" value="Resource/Configs/MixERP.config" />
    <add key="DbServerConfigFileLocation" value="Resource/Configs/DbServer.config" />
    <add key="ReportConfigFileLocation" value="Resource/Configs/ReportParameters.config" />
  </appSettings>
</configuration>