# Resignation Verification

Once an employee applies to resign from the job, it is sent to the verification
queue. In the verification queue, you can decide to either
approve a resignation or reject it stating a reason why
you want to do that.

![Verify Resignation](images/resignation-verification.png)

## How to Approve or Reject a Resignation?

- Navigate to resignation verification feature in MixERP.
- Select the card which contains the resignation
you want to verify by clicking on the the toggle button.
- Click **Verify** button on the top.
- Provide a reason why you are approving or rejecting this resignation.
- Click **Approve** or **Reject**.

## Related Topics
* [Human Resource Management Documentation](index.md)
* [MixERP Documentation](../index.md)
