<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Server" value="localhost" />
    <add key="Port" value="5432" />
    <add key="Database" value="mixerp" />
    <add key="UserId" value="mix_erp" />
    <add key="Password" value="change-on-deployment" />
    <add key="Catalogs" value="mixerp" />
    <add key="MetaDatabase" value="postgres" />
    <add key="ReportUserId" value="report_user" />
    <add key="ReportUserPassword" value="change-on-deployment" />
    <add key="AutoBackupEveryNMinutes" value="720" />
    
    <add key="PostgreSQLBinDirectory" value="C:\Program Files\PostgreSQL\9.4\bin\" />
    <add key="DatabaseBackupDirectory" value="/Backups/" />
  </appSettings>
</configuration>