<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApiUrl" value="https://api.github.com/repos/mixerp/mixerp/contents/src/CustomReports" />
    <add key="MediaType" value="application/json" />
    <add key="UserAgent" value="Mozilla/5.0" />
    <add key="FileNameKey" value="name" />
    <add key="DownloadUrlKey" value="download_url" />
    <add key="ReportUrlExpression" value="~/Reports/{ReportName}" />
  </appSettings>
</configuration>